// CMS
$color-primary:#43425D;
$color-font:#A5A4BF;
$btn-close:#838296;
$reserve-color: #D4D4CE; //ICON
$btn-delete:#e74a3b;
// Login
$color-login-border:#263238;
$color-login-button:#006ab4;
// Odyssey
$color-basic:#0563bb;
$color-basic-hover:#0678e3;
$color-secondary:#cc1616;
$color-secondary-hover:#e82d2d;