@font-face {
    src: url(../fonts/AvenirNextRoundedProBold.TTF);
    // src: url(../fonts/AvenirNextRoundedProBoldIt.TTF);
    src: url(../fonts/AvenirNextRoundedProDemi.TTF);
    // src: url(../fonts/AvenirNextRoundedProDemiIt.TTF);
    src: url(../fonts/AvenirNextRoundedProMedium.TTF);
    // src: url(../fonts/AvenirNextRoundedProMediumIt.TTF);
    src: url(../fonts/AvenirNextRoundedProRegular.TTF);
    // src: url(../fonts/AvenirNextRoundedProRegularIt.TTF);
    font-family: Avenir;
    font-style: normal;
}